@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<h3>@ViewData["email"]</h3>

<p>Autor: @ViewData["Autor"]</p>
<p>@ViewData["email"]</p>

<address>
    <strong>Mais informações: </strong> 
    <a href="https://github.com/HudneyGN/ControlSales">Projeto de vendas no GitHub</a>
</address>
